<div class="image-container">
    <div class="image">
        <a href="{{ image.url }}"><img src="{{ image.url }}"></a>
    </div>
    <table class="metadata">
        <tr>
            <th>Source</th>
            <td><a href="{{ image.source_url }}">{{ image.source_url }}</a></td>
        </tr>
        <tr>
            <th>Size</th>
            <td>{{ image.width }} x {{ image.height }}</td>
        </tr>
        <tr>
            <th>Tile size</th>
            <td>{{ "auto" if image.tile_size == 0 else image.tile_size }}</td>
        </tr>
    </table>
</div>
